@model string


<div class='input-group date' data-datetimepicker="true">
    @Html.TextBoxFor(m => m, new { @class = "form-control" })
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
    </span>
</div>
